<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 input">
                <form>
                    <div class="form-group">
                    <label for="review-text">Enter Review Below:</label>
                    <textarea class="form-control" rows="8" id="review-text"></textarea>
                    </div>
                    <button type="button" id="analyze-button" class="btn btn-primary">Predict Sentiment</button>
                </form>
            </div>
            <div class="col-md-6 output">
                <div class="row">
                <label for "output-ist">The models' predictions will appear here:</label>
                <ul id="output-list">
                </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
<footer>
    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!--our js-->
    <script type="text/javascript" src="static/js/app.js"></script>
</footer>
</html>